{% load staticfiles %}
<!html>
    <head>
        <title>Sticker Economy</title>

        <link href='https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/economy.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap-theme.min.css' %}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"></script>
        {% block extra_head %}{% endblock %}
    </head>
    <body>
            {% if user.is_authenticated %}
                <a href="{% url 'sticker_new' %}" class="top-menu-image"><span class="glyphicon glyphicon-plus"></span></a>
                <h2><a href="{% url 'profile' pk=user.pk %}" class="top-menu">Profile</a></h2>
                <h2><a href="/logout/" class="top-menu">Log out</a></h2>
                <h2><a href="/messages/" class="top-menu">Messages</a></h2>
                <h2 class="page-header">{{request.user.username}}</h2>
                {% else %}
                <h2><a href="/signup/" class="top-menu">Sign up</a></h2>
                <h2><a href="/login/" class="top-menu">Log in</a></h2>
            {% endif %}
            <div class="page-header">
                <h1><a href="/">Sticker Economy</a></h1>
            </div>
            <div class="content container">
                    {% if messages %}
                    <div class="messages">
                        {% for msg in messages %}       
                            <div class="alert alert-{{msg.level_tag}}" role="alert">
                                {{msg.message}}
                            </div>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div class="row">
                    <div class="col-md-12">
                    {% block content %}
                    {% endblock %}
                    </div>
                </div>
            </div>
        </body>
</html>