{% extends 'economy/base.html' %}
{% load staticfiles %}
{% block extra_head %}
    <script src="{% static "main.js" %}"></script>
{% endblock %}


{% block content %}
    <div class="jumbotron row">
        <div class = "col-md-6">
            <ul class = "rooms">
                {% for room in rooms %}
                    <li class="room-link" data-room-id="{{ room.id }}">{{ room.sender }}</li>
                {% empty %}
                <p class="empty">No accepted trades</p>
            {% endfor %}
            </ul>
            {% if rooms%}
                <div id="chats">
                    <div class='room'>
                        <h2> </h2>
                        <div class='messages'> </div>
                        <input><button>Send</button>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class = "col-md-4" id="trades">
        </div>
    </div>
{% endblock %}