{% extends 'economy/base.html' %}
{% load staticfiles %}

{% block extra_head %}
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/infinite.min.js' %}"></script>
{% endblock %}

{% block content %}
    {% for sticker in stickers %}
        <div class="jumbotron row">
            <div class = "col-md-6">
                <h1><a href="{% url 'sticker_detail' pk=sticker.pk %}">{{ sticker.title }}</a></h1>
                <p>Quanitiy: {{ sticker.quantity }}</p>
            </div>
            <div class="col-sm-6">
                <img src="{{ sticker.image.url }}" alt="Sticker image" height="200"></img>
            </div>
        </div>
    {% endfor %}
{% endblock %}