{% extends 'economy/base.html' %}

{% block content %}
    {% for request in requests %}

        <div class="jumbotron row">
            <div class = "col-md-6">
                    <img src="{{ request.requested_sticker.image.url }}" alt="Sticker image" height="100"></img>
                    <p>{{request.requested_quantity}}</p>
                    <img src="{{ request.given_sticker.image.url }}" alt="Sticker image" height="100"></img>
                    <p>{{request.given_quantity}}</p>
                    <p>{{request.message}}</p>
                    {% if user ==  request.requested_sticker.owner%}
                    <p><a href="{% url 'accept_trade' pk=request.pk %}">Accept Trade</a></p>
                    {% endif %}
            </div>
        </div>
    {% endfor%}
{% endblock %}