{% load staticfiles %}
<html>
        <head>
                <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
                <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
                <link rel="stylesheet" href="{% static 'economy.css' %}"/>
        </head>
    <div>
        <h1><a href="">Sticker Economy</a></h1>
    </div>
    
    {% for sticker in stickers %}
        <div class="jumbotron">
            <p>published: {{ sticker.created_date }}</p>
            <h1><a href="">{{ sticker.title }}</a></h1>
            <p>{{ sticker.description|linebreaksbr }}</p>
        </br>
    </br>
        </div>
    {% endfor %}

    <p> end</p>
</html>