container_commands:



option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "stickerEconomy.settings"
    "PYTHONPATH": "/opt/python/current/app/stickerEconomy:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: stickerEconomy/stickerEconomy/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static": "static/"