{% extends 'economy/base.html' %}

{% block content %}
<div class="jumbotron row">
        <div class = "col-md-6">
            {{ user.first_name}}  {{user.last_name}}
        </div>
</div>

    {% for sticker in stickers %}
            <div class="jumbotron row">
                <div class = "col-md-6">
                    <div class="date">
                        <p>published: {{ sticker.created_date }}</p>
                    </div>
                    <h1><a href="{% url 'sticker_detail' pk=sticker.pk %}">{{ sticker.title }}</a></h1>
                    <p>{{ sticker.description|linebreaksbr }}</p>
                </div>
                <div class="col-sm-6">
                    <img src="{{ sticker.image.url }}" alt="Sticker image" height="200"></img>
                </div>
            </div>
    {% endfor %}
{% endblock %}